.heading{
    display: flex;
    flex-direction:column;
    align-items: center;
    background:rebeccapurple;
    color: ghostwhite;
    border-radius:30px;
    padding-bottom: 30px;
}
.hens-images{
    padding-top:133px;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content:space-between;
    background:orange;
    border-radius:30px;
}

.images{
    border-radius:10px;
}

.paragraph{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    background:wheat;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius:10px;
}

.info{
    padding-top: 30px;
}